<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
    <section name="security" type="ResourceMgmt.Infrastructure.Local.Config.SecuritySection, ResourceMgmt.Infrastructure.Local" />
    <section name="mapping" type="ResourceMgmt.Infrastructure.Repository.Config.MappingSection, ResourceMgmt.Infrastructure.Repository" />
    <section name="navigationmenu" type="Bis.Common.Navigation.Config.NavigationMenuSection, Bis.Common.Navigation" />
    <section name="ad" type="Bis.Common.AD.Config.AdSection, Bis.Common.AD, Culture=neutral" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="ResourceMgmtContext" connectionString="Data Source=.;Initial Catalog=RMA;Integrated Security=True;MultipleActiveResultSets=True;Application Name=ResourceMgmt" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ResourceMgmtSupportEmailAddress" value="ResourceMgmt.TechSupport@bis.org" />
    <add key="FromEmailAddress" value="Service.ResourceMgmtDev@bis.org" />
    <add key="MembershipManagerCacheExpirationTimeInSec" value="600" />
    <add key="ShowExceptionDetailsInResponse" value="true" />
    <add key="IgnoreForceHttpsModule" value="true" />
    <add key="ShowErrorWhenProblemWithCsvProcessing" value="false" />
    <add key="RemoteSchedulerAddress" value="tcp://localhost:555/ResourceMgmtScheduler" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="AdoNetAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="ALL" />
      <file value="C:\BIS\ERMP\Logs\ResourceMgmtApi.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="250KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %thread %-5level %logger %property{NDC} - %message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <threshold value="ALL" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="ResourceMgmtContext" />
      <commandText value="insert into ApplicationLog (ApplicationLogIdentifier, CreatedDate, CreatedBy, ThreadId, LogLevel, ClassName, HttpMethod, RequestUrl, RequestBodyContent, LogMessage, Exception) &#xD;&#xA;                          values (@ApplicationLogIdentifier, @CreatedDate, @CreatedBy, @ThreadId, @LogLevel, @ClassName, @HttpMethod, @RequestUrl, @RequestBodyContent, @LogMessage, @Exception)" />
      <parameter>
        <parameterName value="@ApplicationLogIdentifier" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="applicationLogIdentifier" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@CreatedDate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawUtcTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@CreatedBy" />
        <dbType value="String" />
        <size value="30" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{createdBy}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ThreadId" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogLevel" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ClassName" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@HttpMethod" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{httpMethod}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@RequestUrl" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{requestUrl}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@RequestBodyContent" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{requestBodyContent}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogMessage" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
  <ad disabledForMembershipProvider="false">
    <domain name="bisad.bisinfo.org" rootDistinguishedName="DC=bisad,DC=bisinfo,DC=org" />
    <settings>
      <add key="CacheExpirationTimeInSec" value="600" />
      <add key="MaxAttemptsNo" value="3" />
      <add key="TimeBetweenAttemptsInMs" value="1000" />
      <add key="SearchByIdentityType" value="SamAccountName" />
    </settings>
    <accountSettings>
      <add id="HomeFolder">
        <items>
          <add key="Annex" value="\\msfshome\{{_SamAccountName_}}" />
          <add key="Botta" value="\\msfshome\{{_SamAccountName_}}" />
          <add key="Club house" value="\\msfshome\{{_SamAccountName_}}" />
          <add key="Gruetli" value="\\msfshome\{{_SamAccountName_}}" />
          <add key="Rex" value="\\msfshome\{{_SamAccountName_}}" />
          <add key="Tower" value="\\msfshome\{{_SamAccountName_}}" />
          <add key="Zurich" value="\\msfshome\{{_SamAccountName_}}" />
          <add key="Hong Kong" value="\\ah78-220p\{{_SamAccountName_}}" />
          <add key="Mexico" value="\\AM17-55P\{{_SamAccountName_}}" />
        </items>
      </add>
      <add id="HomeFolderPath">
        <items>
          <add key="Annex" value="\msfshome\home\{{_SamAccountName_}}" />
          <add key="Botta" value="\msfshome\home\{{_SamAccountName_}}" />
          <add key="Club house" value="\msfshome\home\{{_SamAccountName_}}" />
          <add key="Gruetli" value="\msfshome\home\{{_SamAccountName_}}" />
          <add key="Rex" value="\msfshome\home\{{_SamAccountName_}}" />
          <add key="Tower" value="\msfshome\home\{{_SamAccountName_}}" />
          <add key="Zurich" value="\msfshome\home\{{_SamAccountName_}}" />
          <add key="Hong Kong" value="\\ah78-220p\home\{{_SamAccountName_}}" />
          <add key="Mexico" value="\\AM17-55P\home\{{_SamAccountName_}}" />
        </items>
      </add>
      <add id="SIPAddress">
        <items>
          <add key="Annex" value="SIP:{{_SamAccountName_}}@bisinfo.org" />
          <add key="Botta" value="SIP:{{_SamAccountName_}}@bisinfo.org" />
          <add key="Club house" value="SIP:{{_SamAccountName_}}@bisinfo.org" />
          <add key="Gruetli" value="SIP:{{_SamAccountName_}}@bisinfo.org" />
          <add key="Rex" value="SIP:{{_SamAccountName_}}@bisinfo.org" />
          <add key="Tower" value="SIP:{{_SamAccountName_}}@bisinfo.org" />
          <add key="Zurich" value="SIP:{{_SamAccountName_}}@bisinfo.org" />
          <add key="Hong Kong" value="SIP:{{_SamAccountName_}}@bisinfo.org" />
          <add key="Mexico" value="SIP:{{_SamAccountName_}}@bisinfo.org" />
        </items>
      </add>
      <add id="BusinessFax">
        <items>
          <add key="Annex" value="+41 61 280 9100" />
          <add key="Botta" value="+41 61 280 9100" />
          <add key="Club house" value="+41 61 280 9100" />
          <add key="Gruetli" value="+41 61 280 9100" />
          <add key="Rex" value="+41 61 280 9100" />
          <add key="Tower" value="+41 61 280 9100" />
          <add key="Zurich" value="+41 61 280 9100" />
          <add key="Hong Kong" value="+852 2982 7123" />
          <add key="Mexico" value="+52 55 91380299" />
        </items>
      </add>
    </accountSettings>
    <accountTypeMapping>
      <add id="Normal">
        <organisationalUnits>
          <add name="OU=ADUsers" />
        </organisationalUnits>
      </add>
      <add id="Maint">
        <organisationalUnits>
          <add name="OU=Maintenance Accounts,OU=Administration" />
          <add name="OU=Maintenance Accounts - COMIT,OU=Administration" />
        </organisationalUnits>
      </add>
      <add id="Service">
        <organisationalUnits>
          <add name="OU=Service Accounts,OU=Administration" />
        </organisationalUnits>
      </add>
    </accountTypeMapping>
  </ad>
  <mapping configSource="Mapping.config" />
  <security>
    <admins>
      <add name="BISAD\vi003413"/>
      <add name="BISAD\an003419"/>
      <add name="BISAD\yu001731"/>
    </admins>
    <groups>
    </groups>
  </security>
  <navigationmenu>
    <views>
      <add id="tileView" default="true">
        <sections>
          <add id="adminsection">
            <title>Admin</title>
          </add>
        </sections>
      </add>
    </views>
    <items>
      <add id="adminMenu">
        <title>Admin</title>
        <referencedsections>
          <add id="adminsection" />
        </referencedsections>
        <roles>
          <add name="Administrator" />
        </roles>
        <children>
          <add id="menu3_1" relativeurl="securitygroups">
            <title>Groups</title>
            <summary>
              You can organize people to different groups according to permission
            </summary>
          </add>
          <add id="menu3_2" relativeurl="securityroles">
            <title>Roles</title>
            <summary>You can associate the roles with groups</summary>
          </add>
          <add id="menu3_3" relativeurl="resourcemgmtentitytypes">
            <title>Resource Management Entity Types</title>
            <summary>
              You can add, edit and delete resource management entity types
            </summary>
          </add>
        </children>
      </add>
      <add id="pmoMenu">
        <title>PMO</title>
        <children>
          <add id="pmoMenu_1" relativeurl="freeze">
            <title>Freeze</title>
            <summary>
              The freeze view
            </summary>
          </add>
          <add id="pmoMenu_2" relativeurl="categories">
            <title>Categories</title>
            <summary>
              You can add, edit and delete categories
            </summary>
          </add>
        </children>
        <roles>
          <add name="ProjectOffice" />
        </roles>
      </add>
      <add id="homeMenu" relativeurl="#">
        <title>Home</title>
      </add>
      <add id="allMenu" relativeurl="search">
        <title>Search</title>
      </add>
      <!--<add id="ProductDirectoryMenu" relativeurl="productdirectory">
        <title>Product Directory</title>
      </add>-->
      <add id="budgetMenu">
        <title>Budget</title>
        <children>
          <add id="budgetMenu_1" relativeurl="budgetoverview">
            <title>Budget Overview</title>
            <summary>
              The budget overview
            </summary>
          </add>
          <add id="budgetMenu_2" relativeurl="snapshots">
            <title>Snapshots</title>
            <summary>
              The snapshots view
            </summary>
          </add>
        </children>
      </add>
    </items>
  </navigationmenu>
  <system.web>
    <compilation targetFramework="4.5"
      debug="true" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="ForceHttpsModule" />
      <add name="ForceHttpsModule" type="Bis.Common.Security.Extension.ForceHttpsModule, Bis.Common.Security.Extension" />
    </modules>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="gwsmtp.bisinfo.org" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Projects\Logs\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>