<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- Config transform syntax reference: http://msdn.microsoft.com/en-us/library/dd465326(v=vs.110).aspx -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ResourceMgmtContext" connectionString="Data Source=MSAPSQL76\DEV11;Initial Catalog=RMA;Integrated Security=True;MultipleActiveResultSets=True;Application Name=ResourceMgmt"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="FromEmailAddress" value="Service.ResourceMgmtDev@bis.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ShowExceptionDetailsInResponse" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MembershipManagerCacheExpirationTimeInSec" value="6000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IgnoreForceHttpsModule" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="CatalogName" value="SSISDB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderName" value="RMA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ProjectName" value="RMP.Reporting.DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PackageName" value="RefreshDatamart.dtsx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PackageParentReference" value="RMP_DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <log4net>
    <appender>
      <file xdt:Transform="SetAttributes(value)" value="C:\BIS\Preview\ERMP\Logs\ResourceMgmtApi.log" />
    </appender>
  </log4net>
  <ad xdt:Transform="SetAttributes(disabledForMembershipProvider)" disabledForMembershipProvider="false"></ad>
  <security xdt:Transform="Replace">
    <admins>
    </admins>
    <groups>
    </groups>
  </security>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="SetAttributes(mode)" mode="Off" />
  </system.web>

</configuration>